<nav>
    <ul>
        <li><a routerLink="/color" routerLinkActive="active">Exercice 1</a></li>
        <li><a routerLink="/carte-visite" routerLinkActive="active">Exercice 2</a></li>
        <li><a routerLink="/parent" routerLinkActive="active">Exercice 3 et 4</a></li>
        <li><a routerLink="/cv" routerLinkActive="active">Exercice 5</a></li>
        <li><a routerLink="#">Exercice 6</a></li>
        <li><a routerLink="/mini-word" routerLinkActive="active">Exercice 7</a></li>
        <li><a routerLink="#">Exercice 8</a></li>
    </ul>
</nav>